.bg-light {
    background-color: #212529!important;
}
.carousel-inner {
    height: 500px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.sep{
    background-color: orange;
    text-align: center;
}